#nprogress .bar {
  background: #fff;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}

.user-panel {
	padding: 8px;
}

.user-panel>.info {
    padding: 10px 5px 5px 2px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.user-panel>.info>p {
	margin-bottom: 4px;
}

.box-auto-filter {
    padding: 8px 10px 0;
}

label.control-label {
	padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

/*table.dataTable thead .sorting {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMV…djwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat 100%;
}

table.dataTable thead .sorting_asc {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMV…bYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC) no-repeat 100%;
}

table.dataTable thead .sorting_desc {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMV…bYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=) no-repeat 100%;
}*/